<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoiaDE0MzE1MzI0MDMyNDAiLCJhIjoiY2t6b2Q0Nm5lMzV1cTJvbzBndmIyY3F2aiJ9.x17f6TjsW-6aiV9eseIU5A</string>
</dict>
</plist>
